﻿@* commentaire *@

@{
    // code c#
    int nb = 42;
    Contact c = new Contact
    {
        Id = 1,
        LastName = "Ly",
        FirstName = "Khun",
        BirthDate = new DateTime(1982, 5, 6)
    };
}

@* @nb ou @(nb) => afficher la variable nb *@
<p>le nombre @nb multiplié par 2 = @(nb * 2) </p>
<p>email: @@gmail.com </p>




@if(nb > 30) {
    <p>le nombre est plus grand que 30</p>
}
else {
    <p>le nombre est plus petit ou égal à 30</p>
}

@while(nb > 0) {
    <p>@nb</p>
    nb--;
}

<div>
    <p>Nom : @c.LastName</p>
    <p>Prénom: @c.FirstName</p>
    <p>Date de naissance : @c.BirthDate</p>
</div> 
