﻿
@*indication qui détermine le TYPE du model*@
@model Demo.ASP.Models.Forms.TableForm

<form class="form" asp-controller="Calcul" asp-action="Formulaire" method="post">
    <div class="mb-2">
        <label>Nb de tables souhaitées</label>
        <input name="NbTables" class="form-control" type="number">
    </div>
    <div class="mb-2">
        <label>Table de départ</label>
        <input name="StartTable" class="form-control" type="number">
    </div>
    <div class="mb-2">
        <button class="btn btn-outline-danger">Envoyer</button>
    </div>
</form>
@if(Model != null)
{
    <p>Nb Tables = @Model.NbTables</p>
    <p>Table de départ = @Model.StartTable</p>

    @for(int table=Model.StartTable; table<Model.NbTables+Model.StartTable; table++)
    {
        <h1>Table de @table</h1>
        for(int multiplicateur=1; multiplicateur <= 10; multiplicateur++)
        {
            <p>@table X @multiplicateur = @(table * multiplicateur)</p>
        }
    }
}